<!-- templates/home.html -->
{% extends 'superhero_theme.html' %}

{% block title %}Heroes List{% endblock title %}

{% block authcontent %}

{% if user.is_authenticated %}
    <h2> Hello there {{ user.username }}! It has been {{ user.age }} years since your birth. </h2>
    <p><a href="{% url 'logout' %}">Log Out</a></p>

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a> |
    <a href="{% url 'signup' %}">Sign Up</a>

{% endif %}

{% endblock authcontent %}

{% block content %}

    {% for hero in object_list %}
        <div class="card m-5">
            <!--style from the bootstrap file-->
            <div class="card-header bg-primary">
                <!--style from the bootstrap file-->
                <h2> 
                    <a class="text-light" href="{{ hero.pk }}">{{ hero.name }}</a>
                </h2>
            </div>
            <div class="card-body bg-light text-dark">
               <!--style from the bootstrap file-->
                <p>
                    Hero: {{ hero.name }}
                </p>
                
                <p>
                    Secret ID: {{ hero.identity }}
                </p>

                {% if missing %}
                    <p class="border"><i class="fa fa-user fa-6x"></i></p>
                {% endif %}
                <!--missing conditional for border class-->

                <img width="300" src="/static/{{ hero.image }}" alt="{{ hero.identity }}">
            </div>
        </div>

    {% endfor %}

{% endblock content %}
