{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/w3fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3temp.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    <title>MY HERO DATABASE</title>
    <!--Bootstrap link utilized to create new styling for containers credit to Mark Seaman
        https://github.com/Mark-Seaman/UNC-BACS-350/blob/master/Superhero/templates/page_theme.html-->
</head>
    
<body class="bg-dark text-light">

    {% block content %}

        {% block header %}
            <header>
                <h1>This is my Hero Database!</h1>
                <p>Welcome to my hero database, make yourself at home.</p>
            </header>
        {% endblock header}

        {% block main %}
            <main>

            </main>
        {% endblock main %}

        {% block footer %}
            <footer>

            </footer>
        {% endblock footer %}
    
    {% endblock content %}

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!--Scripts used in the example to provide better looking containers and buttons credit to Mark-Seaman:
https://github.com/Mark-Seaman/UNC-BACS-350/blob/master/Superhero/templates/page_theme.html-->
</html>
