{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/w3fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3temp.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    <title>MY HERO DATABASE</title>
</head>
    
<body class="bg-light text-dark">

    {% block content %}

        {% block header %}
            <header>
                <h1>This is my Hero Database!</h1>
                <p>Welcome to my hero database, make yourself at home.</p>
            </header>
        {% endblock header}

        {% block main %}
            <main>

            </main>
        {% endblock main %}

        {% block footer %}
            <footer>

            </footer>
        {% endblock footer %}
    
    {% endblock content %}

</body>
    
</html>
