{% extends 'superhero_theme.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit Hero{% endblock title %}

{% block content %}

    {% if user.is_authenticated %}
    
        <div class="container">
      
            <h1>Edit Hero</h1>
    
            <form action="" method="post">{% csrf_token %}
        
                {{ form|crispy }}
       
                <button class="btn btn-success" type="submit">Save</button>
            </form>
    
        </div>
    
    {% else %}
    
        {% include '_nologin.html' %}
    
    {% endif %}

{% endblock content %}


