<!-- templates/hero_list.html -->
{% extends 'superhero_theme.html' %}

{% block title %}Heroes List{% endblock title %}

{% block content %}

    {% for hero in object_list %}
        <div class="container">
            <div class="container">
                <h2> 
                    <a href="{{ hero.pk }}">{{ hero.name }}</a>
                </h2>
            </div>
            <div class="container">
               
                <p>
                    Hero: {{ hero.name }}
                </p>
                
                <p>
                    Secret ID: {{ hero.identity }}
                </p>

                {% if missing %}
                    
                {% endif %}
                

                <img width="300" src="/static/{{ hero.image }}" alt="{{ hero.image }}">
                <h4> 
                    <a href="{{ hero.pk }}/">Edit</a>
                </h4>
                <h4> 
                    <a href="{{ hero.pk }}/delete">Delete</a>
                </h4>
            </div>
            
        </div>

    {% endfor %} 
    

{% endblock content %}
