{% extends 'superhero_theme.html' %}
{% load crispy_forms_tags %}
{% block title %}Delete Hero{% endblock title %}

{% block content %}
   
    {% if user.is_authenticated %}
        <div class="container">
            <h1>Delete hero</h1>
    
            <form action="" method="post">{% csrf_token %}
                <p>Are you sure you want to delete "{{ object.identity }}"?</p>
                <button class="btn btn-success" type="submit">Delete</button>
            </form>
        </div>
    {% else %}

        {% include '_nologin.html' %}
        
    {% endif %}

{% endblock content %}